/*todas las webs iguales*/

*{
    margin:0;
    padding:0;
}

/*header*/

header{
    background-color: black;
    background-image: url("../img/jhonson.png");
    background-repeat:no-repeat;
    position: static;
}

.menu{
    text-align: center;
    height: 100px;
    margin-bottom: 20px;

}

.menu  ul {
    list-style-type: none;
    font-size: 20px;
    
}

.menu  ul li {
    margin-top: 30px;
    padding: 5px;
    display: inline-block;
    border-radius: solid 2px black;
}

.menu ul li a{
    text-decoration: none;
    color:white;
    
}

.menu ul li a:hover{
    color: rgb(166, 183, 194);
    text-transform: uppercase;
    font-weight: bold;
}

/*body*/

body{
    background-color: white;
}

